body{
    margin: 0;
    padding: 0;
}
nav{
    margin: 1rem auto;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #eee;
    background-image: url("https://assets.codepen.io/296057/lil-graydots.png");

}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav li{
    display: inline-block;
}
nav a {
    display: block;
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
nav a:focus{
    background-color: #F0C808;
    color: black;

}

nav a:hover{
    color: #ff583d;
    background-color: #f0c808;
    background-image: url("https://assets.codepen.io/296057/lil-yellowdots.png");

}

.active {
    /* color: #FF583D; */
    background-color: cadetblue;
 
    background-image: url("https://assets.codepen.io/296057/lil-bluedots.png");

    
}