nav{
    border: 1px solid red;
    margin: 1rem auto;
    width: 50%;
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
/* 

Five possible states of links in order

:link    -----     before you visited a link
:visited--------   you have viewed the site before
:focus  ------     after you click link
:hover  --------   when the curser will be on link
:active  -------    after the link is clicked before the page load

*/
nav a {
    display: block;
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
}

nav a:hover{
    color: #45b313;
    background-color: #00bff3;
}

.active {
    background-color: cadetblue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    
}
.active:hover{
     color: #7aff3d;
    background-color: #00bff3;
}
