nav{
    border: 1px solid red;
    margin: 1rem auto;
    width: 50%;
    background-color: #eee;
    background-image: url("https://assets.codepen.io/296057/lil-graydots.png");

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
/* 

Five possible states of links in order

:link    -----     before you visited a link
:visited--------   you have viewed the site before
:focus  ------     after you click link
:hover  --------   when the curser will be on link
:active  -------    after the link is clicked before the page load

*/
nav a {
    display: block;
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
nav a:focus{
    background-color: #F0C808;
    color: black;

}

nav a:hover{
    color: #ff583d;
    background-color: #f0c808;
    background-image: url("https://assets.codepen.io/296057/lil-yellowdots.png");

}

.active {
    /* color: #FF583D; */
    background-color: cadetblue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-image: url("https://assets.codepen.io/296057/lil-bluedots.png");

    
}
/* .active:hover{
     color: #ff583d;
    background-color: #00bff3;
} */
